# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
.gradle/

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
*.sublime-workspace
.vscode/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Project specific
migration-output/
*.log
node_modules/ 